.pointsWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .points {
    background-color: hsl(213, 19%, 18%);
    width: 51px;
    height: 51px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    color: #7c8798;
  }
  
  .points:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(217, 12%, 63%);
  }
  
  .submit {
    width: 341px;
    height: 45px;
    flex-shrink: 0;
    margin-top: 30px;
    border: none;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    cursor: pointer;
  }
  
  @media (max-width: 30em) {
    .submit {
      width: 250px;
    }
  
    .points {
      width: 30px;
      height: 30px;
    }
  }